# Домашняя работа №2


## Задание 1

In [30]:
ids = {‘user1’: [213, 213, 213, 15, 213],
‘user2’: [54, 54, 119, 119, 119],
‘user3’: [213, 98, 98, 35]}

Введите слово1234
23

## Задание 2

In [98]:
summa = 0
i = 1
while i != 0:    
    i = int(input("Введите число"))
    summa = summa + i
print (f"Сумма чисел : {summa}")

Введите число1
Введите число2
Введите число3
Введите число0
Сумма чисел : 6

## Задание 3

In [80]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls):
    i = 0
    print("Идеальные пары:")
    while i < len(boys):         
         print(f"{sorted(boys)[i]} и {sorted(girls)[i]}")
         i = i + 1      
else:
    print("Внимание, кто-то может остаться без пары!")

    
boys.append('Bill')
print(" ")
if len(boys) == len(girls):
    i = 0
    print("Идеальные пары:")
    while i < len(boys):         
         print(f"{sorted(boys)[i]} и {sorted(girls)[i]}")
         i = i + 1      
else:
    print("Внимание, кто-то может остаться без пары!")

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Внимание, кто-то может остаться без пары!

## Задание 4

In [7]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

print("Средняя температура в странах:")
for element in countries_temperature:   
    print(f"{element[0]} - {round((sum(element[1])/len(element[1]) - 32) * 5 / 9,1)} C")

Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

## Задание 5

In [33]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]


unique_list = []
sum_transactions = 0
for element in stream:   
    user = element.split(",")[1]
    transactions = element.split(",")[2]
    if  user not in unique_list:
        unique_list.append(user)        
    sum_transactions = sum_transactions + int(transactions) 

print(sum_transactions / len(unique_list))

23.25

## Задание 6

In [36]:
number_list = input("Введите набор чисел")
process_lsit = number_list.split(" ")
unique_list = []
double_list = []
for element in process_lsit:
    if element not in unique_list:
        unique_list.append(element)
    else:
        if element not in double_list:
            double_list.append(element)

print("Результат")
print(double_list)

Введите набор чисел1 2 2 3 1 5 6 2
Результат
['2', '1']